@charset "UTF-8";
/* CSS Document */
body {
    margin: 0;
    padidng: 0;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}
.forside {
    display: flex;
    width: 100%;
    height: 900px;
    background-image: url(forside.jpg);
    background-position: center;
    background-size: cover;
}
.menu_1 {
    width: 40%;
    height: 70px;
}
.logo {
    width: 20%;
}
.logo img {
    width: 20%;
    position: fixed;
}
.menu_2 {
    width: 40%;
    height: 70px;
}
.menu_1 a {
    float: left;
    margin: 0px 10px 0px 10px;
    margin-top: 22px;
    font-weight: 300;
    margin-bottom: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu_1 li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-family: 'Lato', sans-serif;
    ;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.menu_2 a {
    float: right;
    margin: 0px 10px 0px 10px;
    margin-top: 22px;
    font-weight: 300;
    margin-bottom: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu_2 li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-decoration: none;
}
#navbar {
    width: 100%;
    background-color: rgba(116,156,211,0.75);
    display: flex;
    position: fixed;
}
.top {
    background-color: #749CD3;
    width: 100%;
    height: 70px;
}
.web_1 {
    height: 500px;
    background-color: #749CD3;
    width: 100%;
    display: flex;
}
.billede {
    width: 50%;
}
.tekst {
    width: 50%;
    padding: 0px 50px;
    font-family: lato, "sans serif";
}
.billede img {
    max-height: 400px;
    margin: 0 auto;
    display: block;
    padding-top: 40px
}
.web_2 {
    height: 700px;
    width: 100%;
    background-image: url(office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.tom {
    width: 25%;
    height: 400px;
}
.betaling_1 {
    width: 25%;
    background-color: rgba(223,221,221,0.75);
    height: 600px;
    margin: 45px 30px;
    border-radius: 20px;
}
.betaling_2 {
    width: 25%;
    background-color: rgba(223,221,221,0.75);
    height: 600px;
    margin: 45px 30px;
    border-radius: 20px;
}
.digital_1 {
    height: 500px;
    width: 100%;
    background-color: #749CD3;
    display: flex;
}
.digital_2 {
	height: 700px;
    width: 100%;
    background-image: url(htmlpic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.branding_1 {
	height: 500px;
    width: 100%;
    background-color: #749CD3;
    display: flex;
}
.branding_2 {
	height: 700px;
    width: 100%;
    background-image: url(brandingpic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.support {
	height: 500px;
    width: 100%;
    background-color: #749CD3;
    display: flex;
}
footer {
	height: 30px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	font-family: lato, "sans serif";
	background-color: #DF9B67;
}